<html ng-app>
<head>
	<title>MEAN SAMPLE APP</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<body>
	<div class="container" ng-controller="AppCtrl">
	<h1>Mean Sample App</h1>
		<br>
		<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Country</th>
						<th>Action</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input class="form-control" ng-model="user.name"></td>
						<td><input class="form-control" ng-model="user.email"></td>
						<td><input class="form-control" ng-model="user.country"></td>
						<td><button class="btn btn-primary" ng-click="adduser()">Add User</button></td>
						<td><button class="btn btn-info" ng-click="update()">Update</button></td>

					</tr>
					<tr ng-repeat="user in userlist">
						<td>{{user.name}}</td>
						<td>{{user.email}}</td>
						<td>{{user.country}}</td>
						<td><button class="btn btn-warning" ng-click="edit(user._id)">Edit</button></td>
						<td><button class="btn btn-danger" ng-click="remove(user._id)">Remove</button></td>
					</tr>
				</tbody>
		</table>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script src="controllers/controller.js"></script>
</body>
</html>